<link rel="stylesheet" href="/css/sidebar.css"/>
<div class="sidebar-div">
    <ul ng-repeat="(key, value) in user.roles" ng-if="value == 1" class="clearfix">
        <div class="division-div">
            <span class="grey" ng-bind="sidebarItems[key]['title']"></span>
        </div>
        <li ng-repeat="item in sidebarItems[key]['item']"
                ng-click="sidebarOnClick(key,$index)">
            <a class="white" ng-href="{{item.url}}"
               ng-class="activeItem.key == key && activeItem.index == $index ? 'link-active' : ''">
                <span><i ng-class="item.icon"></i> {{item.name}}</span>
            </a>
            <!--<a class    ="white" ng-click="changeMainContent(sidebarItems[key]['url'][$index])">{{item}}</a>-->
        </li>
    </ul>
</div>