<link rel="stylesheet" href="/css/home.css"/>
<link rel="stylesheet" href="/css/signup.css"/>
<div class="container-fluid">
    <div ng-include="'/template/common/navbar.html'"></div>
    <div ng-include="'/template/common/sidebar.html'"></div>

    <div class="content-div" ng-controller="usersController">
        <div class="users-form">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>用户名</td>
                        <td>用户昵称</td>
                        <td>用户权限</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="u in users">
                        <td>{{u.id}}</td>
                        <td>{{u.username}}</td>
                        <td>{{u.name}}</td>
                        <td>
                            <label>
                                <input type="checkbox" ng-model="u.roles.dispatcher"> 分发
                            </label>
                            <label>
                                <input type="checkbox" ng-model="u.roles.handler"> 处理
                            </label>
                            <label>
                                <input type="checkbox" ng-model="u.roles.reviewer"> 审核
                            </label>
                            <label>
                                <input type="checkbox" ng-model="u.roles.manager"> 管理
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-success" ng-click="clickToOpen()">添加用户</button>
        </div>
    </div>
</div>