<link rel="stylesheet" href="/css/home.css"/>
<link rel="stylesheet" href="/css/signup.css"/>
<div class="container-fluid">
    <div ng-include="'/template/common/navbar.html'"></div>
    <div ng-include="'/template/common/sidebar.html'"></div>

    <div class="content-div" ng-controller="usersController" ng-init="onPageLoad()">
        <div class="users-form">

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>用户名</td>
                        <td>用户昵称</td>
                        <td>密码</td>
                        <td>用户权限</td>
                        <td>审核人员</td>
                        <td><button class="btn btn-primary" ng-click="clickToOpen()">添加用户</button></td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="u in users track by $index" ng-click="onSelectLine($index)">
                        <td>{{u.id}}</td>
                        <td>{{u.username}}</td>
                        <td ng-if="edit_line!=$index">{{u.name}}</td>
                        <td ng-if="edit_line!=$index">***</td>
                        <td ng-if="edit_line==$index">
                            <input type="text" ng-model="u.name"/>
                        </td>
                        <td ng-if="edit_line==$index">
                            <input type="password" ng-model="u.show_password"/>
                        </td>
                        <td>
                            <label><input type="checkbox" ng-model="u.roles.dispatcher"> 分发</label>&nbsp;
                            <label><input type="checkbox" ng-model="u.roles.handler"> 处理</label>&nbsp;
                            <label><input type="checkbox" ng-model="u.roles.reviewer"> 审核</label>&nbsp;
                            <label><input type="checkbox" ng-model="u.roles.manager"> 管理</label>
                        </td>
                        <td ng-if="edit_line!=$index">
                            {{u.checker.name}}
                        </td>
                        <td ng-if="edit_line==$index">
                            <select ng-model="show_checker"
                                    ng-options="dep as dep.name for dep in checkers"
                                    ng-change="select_checker(show_checker)"
                                    style="width: 100px" >
                                <option></option>
                            </select>
                        </td>
                        <td ng-if="edit_line!=$index"></td>
                        <td ng-if="edit_line==$index">
                            <span ng-click="saveUser($event,u)"><i class="fa fa-check users-green"></i></span>
                            <span ng-click="onCancel($event)"><i class="fa fa-remove users-red"></i></span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <nav ng-if="(pageSum-1) * 10 + pageNum >= 10">
                <ul class="pagination">
                    <li ng-click="getMore(0)">
                        <a href="javascript:void(0)" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li ng-repeat="pageIndex in range(1, pageSum)" ng-click="getMore(pageIndex-1)" ng-class="{active:pageIndex == pageNum}"><a href="javascript:void(0)">{{pageIndex}}</a></li>
                    <li ng-click="getMore(pageSum-1)">
                        <a href="javascript:void(0)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>